body {
}
#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-pro {
    height: 350px;
    width: 300px;
    text-align: center;
}
.size-img {
    height: 200px;
    width: auto;
    margin: 10px 0 0 20px;
}
.box-description{
    height: 120px;
    width: auto;
    background-color: grey;
    margin:10px 0 0 20px;
}
.margin-des {
    margin-left: 10px;
    padding-top: 5px;
}
.box-pro {
    margin: auto;
    margin-top: 10px;
}